
<!-- Barra lateral com todas as páginas. Inicia fechado e abre/fecha quando clicar 
em hamburguer-button do header -->
<div class="left-sidebar">

    <!-- botão para página de inserção de clientes -->
    <button class="nav-btn" data-page="insert-client">
        Inserir Cliente
    </button>

    <!-- botão para página de teste de empréstimo -->
    <button class="nav-btn" data-page="loan-test">
        Testar Empréstimo
    </button>
    
    <!-- botão para página de histórico de testes -->
    <button class="nav-btn" data-page="loan-history">
        Histórico de Testes
    </button>

</div>